---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="container mx-auto h-screen w-full max-w-lg text-balance px-5 text-center"
  >
    <div class="flex h-full w-full flex-col items-center justify-center">
      <div class="space-y-4">
        <h3 class="text-6xl font-black">
          <span class="text-primary">Flame</span>On
        </h3>
        <p class="text-2xl">
          <span class="font-bold text-primary">F</span>riendship,
          <span class="font-bold text-primary">L</span>ove,
          <span class="font-bold text-primary">A</span>ffection,
          <span class="font-bold text-primary">M</span>arriage,
          <span class="font-bold text-primary">E</span>nemy, or
          <span class="font-bold text-primary">S</span>iblings.
        </p>
      </div>

      <form class="my-10 flex w-full flex-col items-center gap-3">
        <input
          required
          class="input input-bordered w-full text-center !text-xl"
          placeholder="First Name"
          type="text"
          name="firstName"
        />
        <input
          required
          class="input input-bordered w-full text-center !text-xl"
          placeholder="Second Name"
          type="text"
          name="secondName"
        />
        <button type="submit" class="btn btn-primary mt-3 text-base"
          >Find Out</button
        >

        <dialog id="resultModal" class="modal modal-bottom sm:modal-middle">
        </dialog>
      </form>
    </div>
  </main>
</Layout>

<script>
  import { calculateFlames } from "../lib/utils";

  const form = document.querySelector("form") as HTMLFormElement;
  const resultModal = document.getElementById(
    "resultModal",
  ) as HTMLDialogElement;
  const resultModalCloseBtn = document.getElementById(
    "resultModalCloseBtn",
  ) as HTMLButtonElement;

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const firstName = formData.get("firstName") as string;
    const secondName = formData.get("secondName") as string;
    const { flamesLabel, resultText } = calculateFlames(firstName, secondName);

    resultModal.innerHTML = `
    <div class="modal-box w-full bg-primary text-primary-content">
      <h3 class="text-3xl font-bold">Your relationship is...</h3>
      <p id="resultText" class="py-5 pt-6 text-5xl font-bold">${flamesLabel}</p>
      <p class="text-xl">
        ${resultText}
      </p>
      <div class="modal-action flex-col justify-between gap-2 space-x-0">
        <button type="button" class="btn text-xl">Share</button>
      </div>
    </div>
  `;

    resultModal.showModal();
  });

  resultModal.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const modalBox = resultModal.querySelector(".modal-box");
    if (target && modalBox && !modalBox.contains(target)) {
      resultModal.close();
    }
  });

  resultModal.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    if (target && target.id === "resultModalCloseBtn") {
      resultModal.close();
    }
  });
  window.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      resultModal.close();
    }
  });
</script>
