---
import { AstroFont } from "astro-font";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      FLAMESon | The Flames Calculator | Enter two names and uncover the magic
      behind your connection! ~ built by Manohar
    </title>

    <AstroFont
      config={[
        {
          src: [],
          name: "Sour Gummy",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
