---
import { AstroFont } from "astro-font";
---

<!doctype html>
<html lang="en" style="color-scheme: dark;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      FLAMESon | The Flames Calculator | Enter two names and uncover the magic
      behind your connection! ~ built by Manohar
    </title>

    <meta
      name="description"
      content="Enter two names and uncover the magic behind your connection!"
    />
    <meta
      name="keywords"
      content="flames, relationship, love, calculator, connection, fun app"
    />
    <meta name="author" content="Manohar Maharshi" />
    <meta name="og:title" content="FLAMEson" />
    <meta
      name="og:description"
      content="Enter two names and uncover the magic behind your connection!"
    />
    <meta name="og:url" content="https://flameson.vercel.app/" />
    <meta name="og:type" content="website" />
    <!-- <meta name="og:image" content="https://flameson.vercel.app/preview.png" /> -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="FLAMEson" />
    <meta
      name="twitter:description"
      content="Enter two names and uncover the magic behind your connection!"
    />
    <!-- <meta
      name="twitter:image"
      content="https://flameson.vercel.app/preview.png"
    /> -->

    <AstroFont
      config={[
        {
          src: [],
          name: "Sour Gummy",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
